<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Recipe App" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render "shared/header" %>

    <%
=begin%>
 <% if user_signed_in? %>
      <p>ログイン中：<%= current_user.email %></p>
      <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
    <% else %>
      <p>未ログイン</p>
    <% end %> 
<%
=end%>

    <%= yield %>
  </body>
</html>
